# Godot 4+ specific ignores
.godot/
/android/

# Text editor files
.vscode/

# Original and reference files
*.skn
*.skl
*.tga
*.tga.import
*.dds
*.dds.import
*.cs
*.cs.uid
*.sh
*.7z
*.nvr.glb
*.aimesh
*.aimesh_ngrid
*.lua
*.py
*.pyx
*.glsl
*.glsl.import

# JS/TS files
node_modules/
bun.lockb

# TODO and log files
*.txt

# Game cache files
engine/game/cache/