# Godot 4+ specific ignores
.godot/
/android/

.vscode/
*.skn
*.skl
*.tga
*.tga.import
*.dds
*.dds.import
*.cs
*.cs.uid
*.sh
*.7z
*.nvr.glb
*.aimesh
*.aimesh_ngrid
*.lua
*.py
*.pyx
*.glsl
*.glsl.import

node_modules/
bun.lockb
*.txt